ClienteWCFCalculadora/Service References/ServiceCalculadora/ServiceCalculadora1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogicaCalculadora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogicaCalculadora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExcepcionPersonalizada">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetailError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalCodeError" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcepcionPersonalizada" nillable="true" type="tns:ExcepcionPersonalizada" />
</xs:schema>