ClienteWCFCalculadora/Service References/ServiceCalculadora/ServicioCalculadora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCalculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51860/ServiceCalculadora.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51860/ServiceCalculadora.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaCalculadora" />
      <xsd:import schemaLocation="http://localhost:51860/ServiceCalculadora.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCalculadora_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Division_ExcepcionPersonalizadaFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaCalculadora" name="detail" element="q1:ExcepcionPersonalizada" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Multiplicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicacion" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Multiplicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicacionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Resta_InputMessage">
    <wsdl:part name="parameters" element="tns:Resta" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Resta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Suma_InputMessage">
    <wsdl:part name="parameters" element="tns:Suma" />
  </wsdl:message>
  <wsdl:message name="IServicioCalculadora_Suma_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCalculadora">
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCalculadora/Division" message="tns:IServicioCalculadora_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCalculadora/DivisionResponse" message="tns:IServicioCalculadora_Division_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioCalculadora/DivisionExcepcionPersonalizadaFault" name="ExcepcionPersonalizadaFault" message="tns:IServicioCalculadora_Division_ExcepcionPersonalizadaFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCalculadora/Multiplicacion" message="tns:IServicioCalculadora_Multiplicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCalculadora/MultiplicacionResponse" message="tns:IServicioCalculadora_Multiplicacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCalculadora/Resta" message="tns:IServicioCalculadora_Resta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCalculadora/RestaResponse" message="tns:IServicioCalculadora_Resta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCalculadora/Suma" message="tns:IServicioCalculadora_Suma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCalculadora/SumaResponse" message="tns:IServicioCalculadora_Suma_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCalculadora" type="tns:IServicioCalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/IServicioCalculadora/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcepcionPersonalizadaFault">
        <soap:fault use="literal" name="ExcepcionPersonalizadaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Multiplicacion">
      <soap:operation soapAction="http://tempuri.org/IServicioCalculadora/Multiplicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Resta">
      <soap:operation soapAction="http://tempuri.org/IServicioCalculadora/Resta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://tempuri.org/IServicioCalculadora/Suma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCalculadora">
    <wsdl:port name="BasicHttpBinding_IServicioCalculadora" binding="tns:BasicHttpBinding_IServicioCalculadora">
      <soap:address location="http://localhost:51860/ServiceCalculadora.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>